@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital@0;1&family=Varela&family=Varela+Round&display=swap");
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  margin:0;
}
/* header{
  height:75px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10% ), 0 2px 2px rgb(0 0 0 / 6% ),0 0 2px rgb(0 0 0 / 7%);
} */
.header-container{
  max-width: 1440px;
  margin :0 auto;
}
#footer {
  /* background-color:#13ABAF; */
  padding: 1rem 1rem 1rem;
  font-size: 15px;
  text-align: center;
   position:absolute;
   bottom:0px;
   width:100%; 
  }

.footer-icon {
  font-size: 1.5rem;
  color: #3b82f6;
  width: 10px;
  height: 10px;
  margin: 0.5px;
  margin-right: 10px;
  margin-bottom: var(--mb-4);
}
.footer-social {
  margin-bottom: var(--mb-4);
  padding-top: 10px;
}

#footer{
  color: black;
  /* padding-top: 10px; */
  font-size: large !important;
  border-top: 1px solid #f4c2c2;
}

#footer #copyright {
  margin-top: 0.5em;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
  color: #7d7d7d;
  font-size:15px;
}
.footer-title {
  color: #7d7d7d;
  font-size: 20px;
  padding:5px;
  /* margin-bottom: 10px; */
}
a {
  display: inline;
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
margin:0;
padding:0;
}
/* header{
  height:75px;
  position:relative;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10% ), 0 2px 2px rgb(0 0 0 / 6% ),0 0 2px rgb(0 0 0 / 7%);
  } */
.nav{
  position:sticky;
  display:flex;
  color:black;
  width: 100%;
  height:50px;
  align-items: center;
  font-family:'Josefin Sans', sans-serif;
  font-size:18px;
  margin-top: 10px;
  flex:6;
  top:0;
  margin:10px;
  border-bottom: 1px solid #f4c2c2;
  font-weight: var(--font-semi);
    }  
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#fff;
  cursor: pointer;
}
ul{
  display:flex;
}
li{
  list-style: none;
  margin: 1rem;
  display: inline;
  padding:10px;
} 
a{
  text-decoration: none;
  color:#333;
}
.logo{
  padding:1rem;
  font-family: 'Varela Round', sans-serif;
   font-family: 'Cookie', cursive;
} 